{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}

    <h1>Catégories</h1>
    {% for category in categories %}
       <ul>
           <li>
               {{ loop.index }} /  <a href="{{ path('category_show', { categoryName: category.name }) }}">{{ category.name }}</a>

           </li>
       </ul>
    {% endfor %}

    <a href="{{ path('category_new') }}"><button> Ajouter une catégorie</button></a>

{% endblock %}